#landingPageLink {
    color: var(--secondary);
}

#contactMainHeader {
    border-bottom: solid 0.2rem var(--primDark);
}

#headerText {
    margin: 0px;
}

#contactNotification {
    font-style: italic;
    font-size: medium;
}

#contactForm {
    animation: slideRightToLeft 1.2s ease-in-out forwards;
}

#submitBtn {
    opacity: 0;
    animation: fadeIntoView 1s ease-in-out forwards;
    animation-delay: 1.4s;
}  

.form-input {
    width: 50%;
    border-radius: 0px;
    margin: 0px 0px;
    border: 1px solid var(--dark);
    background: oldlace
}

.form-input:focus {
    background: var(--light);
}

.card-body {
    padding: 0;
}

#formMessage {
    width: 100%;
    padding-bottom: 20%;
}

li {
    list-style: none;
}

li ul {
    padding-left: 0.25px;
    margin: auto;
}

.contactLink {
    font-style: italic;
    color: var(--primDark)
}

.contactLink:hover {
    font-weight: bold;
    color: var(--primary);
}

.fa-arrow-right {
    animation: pointingAnimation 1s infinite;
}