:root {
    --primary: #1d86db;     
    --secondary: #333333;    
    --tertiary: #f5f5f5;        
    --light: #cfcece;  
    --dark: #3b3b3b;        
    --primDark: #195687; 
    --dark-gray:  #3f3f3f;   
    --text-color: #cfcece;
    --jumbotron-color: #195687;
}